Data collection

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('initial files/Genotypicdata.csv')
df.head()

,Cultivar ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
0,Chromosome,chr01,chr01,chr01,chr04,chr07,chr08,chr10,chr11,chr12
1,Position,30976864,35617816,38428840,5463422,13178880,19793460,19044175,23563633,7667840
2,Variation,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP
3,Reference,A,C,T,G,T,A,C,T,T
4,Primary,G,C,T,G,T,A,T,T,T
...,...,...,...,...,...,...,...,...,...,...
405,C148,G,C,T,N,T,A,T,T,T
406,C149,A,C,T,G,A,A,C,DEL,T
407,C150,A,C,T,G,T,A,C,T,T
408,C151,G,C,T,DEL,T,A,T,T,T
409,C152,A,C,T,G,T,A,C,T,T

In [22]:
prim= df[df['Cultivar ID'] == 'Primary']
prim=prim.values.flatten()
prim

array(['Primary', 'G', 'C', 'T', 'G', 'T', 'A', 'T', 'T', 'T'],
      dtype=object)

In [23]:
secd= df[df['Cultivar ID'] == 'Secondary']
secd=secd.values.flatten()
secd

array(['Secondary', 'A', 'T', 'C', 'T', 'A', 'T', 'C', 'C', 'C'],
      dtype=object)

In [24]:
for i in df["Cultivar ID"][6:]:
    a=df[df["Cultivar ID"]==i].values.flatten()
    for j in range(len(a)):
        if(a[j]=='N'):
            a[j]=prim[j]
        elif(a[j]=='DEL'):
            a[j]=secd[j]
    df[df["Cultivar ID"]==i]=a

In [25]:
df.head(20)

,Cultivar ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
0,Chromosome,chr01,chr01,chr01,chr04,chr07,chr08,chr10,chr11,chr12
1,Position,30976864,35617816,38428840,5463422,13178880,19793460,19044175,23563633,7667840
2,Variation,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP
3,Reference,A,C,T,G,T,A,C,T,T
4,Primary,G,C,T,G,T,A,T,T,T
5,Secondary,A,T,C,T,A,T,C,C,C
6,B001,G,C,T,G,A,A,C,T,T
7,B002,A,C,T,G,T,A,C,T,T
8,B003,A,C,T,G,T,A,C,T,T
9,B004,A,C,T,G,T,A,C,T,T
10,B005,A,C,T,G,A,A,C,C,T
11,B006,G,C,T,T,T,T,T,T,T
12,B007,G,C,T,G,T,T,T,T,C
13,B008,A,C,T,G,T,A,C,T,T
14,B009,G,C,T,T,T,A,T,C,T
15,B010,G,C,T,G,T,A,T,C,C
16,B011,G,T,C,T,T,A,C,T,C
17,B012,G,C,C,T,T,A,T,T,T
18,B013,G,C,T,G,T,A,T,T,C
19,B014,A,C,T,G,T,A,C,T,T

In [28]:
plh=pd.read_csv('initial files/Plantheight.csv')
del plh["Cultivar Name"]
del plh["Subpopulation"]
gns=pd.read_csv('Genotypesolved.csv')
yld=pd.read_csv('initial files/Yield.csv')
del yld["Cultivar Name"]

yld

    Cultivar ID          Subpopulation  Yield
0          C152     Temperate Japonica  18.94
1          W146               Indica I  64.45
2          W150              Indica II  36.18
3          W129            VI/Aromatic  62.08
4          W086              Indica II  33.73
..          ...                    ...    ...
524        C159               Indica I  32.72
525        W167    Indica Intermediate  45.93
526        W324  Japonica Intermediate  20.18
527        C198    Indica Intermediate  21.40
528        W255            VI/Aromatic  49.88

[529 rows x 3 columns]

In [29]:
newfile=pd.merge(gns,plh,on='Cultivar ID',how='left')
newfile=pd.merge(newfile,yld,on='Cultivar ID',how='left')
newfile = newfile[~newfile.isna().any(axis=1)]
newfile

,Unnamed: 0,Cultivar ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840,Plant Height (cm),Subpopulation,Yield
258,258,C001,G,C,T,T,T,T,C,C,C,144.13,Indica I,24.13
259,259,C002,G,C,C,T,T,T,C,C,C,177.62,VI/Aromatic,15.18
260,260,C003,G,C,T,G,T,A,C,T,T,141.57,Japonica Intermediate,24.54
261,261,C004,G,C,T,G,A,A,C,T,C,140.40,Temperate Japonica,18.82
262,262,C005,G,C,T,T,A,A,T,T,C,163.33,Tropical Japonica,22.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4727,4727,W326,G,C,T,G,T,A,C,T,C,155.40,Japonica Intermediate,24.96
4728,4728,W327,A,C,T,G,T,A,C,T,C,89.80,Temperate Japonica,35.33
4729,4729,W328,A,C,T,G,T,A,C,T,T,117.40,Intermediate,7.69
4730,4730,W329,G,C,T,G,T,A,T,T,C,147.40,Tropical Japonica,34.71
4731,4731,W330,G,C,C,T,T,T,C,C,C,149.60,Aus,33.92

In [14]:
del newfile["Unnamed: 0"]

In [16]:
newfile.to_csv("gsol2.csv")